actionlib==1.11.11
catkin==0.7.8
certifi==2017.11.5
cv-bridge==1.12.7
docutils==0.14
dynamic-reconfigure==1.5.48
future==0.16.0
gencpp==0.5.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.9
gennodejs==2.0.1
genpy==0.6.7
message-filters==1.12.12
pluginlib==1.11.2
pyasn1==0.3.2
python-dateutil==2.6.1
python-qt-binding==0.3.3
python-telegram-bot==9.0.0
qt-dotgraph==0.3.8
qt-gui==0.3.8
qt-gui-cpp==0.3.8
qt-gui-py-common==0.3.8
rosbag==1.12.12
rosclean==1.13.6
rosgraph==1.12.12
roslaunch==1.12.12
roslib==1.13.6
roslz4==1.12.12
rosmaster==1.12.12
rosmsg==1.12.12
rosnode==1.12.12
rosparam==1.12.12
rospy==1.12.12
rosservice==1.12.12
rostest==1.12.12
rostopic==1.12.12
rosunit==1.13.6
rqt-action==0.4.9
rqt-bag==0.4.11
rqt-bag-plugins==0.4.11
rqt-console==0.4.8
rqt-dep==0.4.8
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.11
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-msg==0.4.8
rqt-plot==0.4.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.8
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
sensor-msgs==1.12.5
smclib==1.8.1
telegram==0.0.1
topic-tools==1.12.12
